:root {
    --bg0: #1d2021;
    --bg: #282828;
    --bg2: #323232;
    --fg: #d4be98;
    --accent: #a9b665;
}

body {
    font-family: "Iosevka Web", monospace;
    background-color: var(--bg);
    color: var(--fg);
    margin: 6em 2em;
}

.container {
    max-width: 80ch;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: var(--accent);
}
h1 {
    font-size: 36px;
}
img {
    max-width: 100%;
}
hr {
    margin: 2em 0;
    border: 1px solid var(--bg2);
}

.chatbox {
    background-color: var(--bg0);
}
.chatbox ul {
    padding: 1em;
    margin: 0;
    list-style-type: none;
}
.chatbox ul li {
    line-height: 1.4em;
}
#msg-input {
    font-family: "Iosevka Web", monospace;
    font-size: 15px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    border: none;
    width: 100%;
    margin-top: 0;
    padding: 0.8em 1em;
    background-color: var(--bg2);
    color: var(--fg);
}
#msg-input:focus {
    outline: none;
}

.titles {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.titles h2 {
    display: block;
}
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.left {
    margin-right: 1em;
    float: left;
    text-align: left;
}
.right {
    margin-left: 1em;
    float: right;
    text-align: right;
}
.nav a {
    display: block;
    text-decoration: none;
}
